/* my enchantements */
a { 
  text-decoration: none;
}

a.menu-item {
  padding: 5px;
}

a:hover:not(.button),
a:hover:not(.button-primary) {
  color: whitesmoke;
  border-radius: 5px;
  background: #1EAEDB;
  padding: 5px;
}

td {
  /* padding: 0px 15px; */
  text-align: left;
  border-top: 1px solid #E1E1E1;
  border-bottom: 1px solid #E1E1E1;
}

.table-action {
  font-size: 24px;
  padding: 5px;
}

.table-action.warning {
  color: #a22;
}

.table-action.warning:hover {
  color: whitesmoke;
  border-radius: 5px;
  background: #a22;
  padding: 5px;
}

table.details tr td:first-child {
  width: 25%;
  background: #F5F5F5;
  padding-left: 15px;
}

table.details tr td:last-child {
  width: 75%;
  min-width: 450px;
}

::placeholder {
  color: #ccd;
}

/* body {
  font-size: 1.8em;
} */

.notify {
  background-color: limegreen;
  color: white;
  border-radius: 5px;
  padding: 5px 15px;
  font-weight: bold;
  font-style: italic;
}

.button, .button-primary {
  min-width: 130px;
  margin-right: 5px;
}

/* .required {
  color: CornflowerBlue;
} */

label.required::after {
  content: " (*)";
  font-weight:lighter;
}


input[type="date"] {  
  color: #555;
  text-align: right;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;  
  cursor: pointer;
  background-color: #33C3F0;
  border-color: #33C3F0;
}
/* input[type="date"] {   */
   /* } */

input[type="date"] {
  height: 38px;
  padding: 6px 10px; 
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="date"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
input[type="date"]:focus {
  border: 1px solid #33C3F0;
  outline: 0; }