/* my enchantements */
a { 
  text-decoration: none;
}

a.menu-item {
  padding: 5px;
}

/* breaks buttons */
a:hover {
  color: whitesmoke;
  border-radius: 5px;
  background: #1EAEDB;
  padding: 5px;
}

td {
  /* padding: 0px 15px; */
  text-align: left;
  border-top: 1px solid #E1E1E1;
  border-bottom: 1px solid #E1E1E1;
}

.table-action {
  font-size: 24px;
  padding: 5px;
}

.table-action.warning {
  color: #a22;
}

.table-action.warning:hover {
  color: whitesmoke;
  border-radius: 5px;
  background: #a22;
  padding: 5px;
}

table.details tr td:first-child {
  width: 25%;
  background: #F5F5F5;
  padding-left: 15px;
}

table.details tr td:last-child {
  width: 75%;
  min-width: 450px;
}

::placeholder {
  color: #ccd;
}